# Ignore all build output
[Bb]in/
[Oo]bj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore NuGet package folders
**/packages/*
!**/packages/build/ # Except for specific folders that might be needed

# Ignore Visual Studio and VS Code files
.vs/
*.code-workspace

appsettings*

.env

#############################
# TERRAFORM FILES
#############################

# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# .tfvars files (sensitive)
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc

# Plan files
*.tfplan
