name: Dependency Security Check
on: [push, pull_request]

env:
    GITHUB_USERNAME: github-actions
    GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:
    check-dependencies:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup .NET 8
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.x

            - name: Restore dependencies
              env:
                  NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  dotnet restore --configfile ./nuget.config

            - name: Check for vulnerable packages
              run: dotnet list package --vulnerable
