name: Build & Publish NuGet

on:
  push:
    branches:
      - master
      - main
    paths:
      - "TemplateMongo.Client/**"
      - "Directory.Packages.props"
      - "Directory.Build.props"
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - "**"
    paths:
      - "TemplateMongo.Client/**"
      - "Directory.Packages.props"
      - "Directory.Build.props"

permissions:
  contents: read
  packages: write

jobs:
  check-latest-commit:
    name: Check latest commit for relevant paths
    runs-on: ubuntu-latest
    outputs:
      run: ${{ steps.check.outputs.run }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: List files changed
        id: check
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            BASE_SHA=$(jq -r .pull_request.base.sha < $GITHUB_EVENT_PATH)
            HEAD_SHA=$(jq -r .pull_request.head.sha < $GITHUB_EVENT_PATH)
            FILES=$(git diff --name-only $BASE_SHA $HEAD_SHA)
          else
            BEFORE_SHA=${{ github.event.before }}
            AFTER_SHA=${{ github.sha }}
            FILES=$(git diff --name-only $BEFORE_SHA $AFTER_SHA)
          fi

          echo -e "Files changed:\n$FILES"

          if echo "$FILES" | grep -Eq "^(TemplateMongo/|Directory.Packages.props$|Directory.Build.props$|\\.github/workflows/nuget-publish.yml$)"; then
            echo "run=true" >> $GITHUB_OUTPUT
          else
            echo "run=false" >> $GITHUB_OUTPUT
          fi

  build-and-pack:
    needs: check-latest-commit
    if: ${{ needs.check-latest-commit.outputs.run == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "10.0.x"

      - name: Authenticate GitHub Packages
        run: |
          dotnet nuget remove source github || true
          dotnet nuget add source \
            https://nuget.pkg.github.com/Sundy-Studios/index.json \
            --name github \
            --username Sundy0828 \
            --password ${{ secrets.PERSONAL_PAT }} \
            --store-password-in-clear-text

      - name: Restore dependencies
        run: dotnet restore TemplateMongo.Client/TemplateMongo.Client.csproj

      - name: Determine version from csproj
        run: |
          BASE_VERSION=$(grep -oPm1 "(?<=<Version>)[^<]+" TemplateMongo.Client/TemplateMongo.Client.csproj)

          if [[ -n "${GITHUB_HEAD_REF}" ]]; then
              BRANCH_NAME="${GITHUB_HEAD_REF}"
          else
              BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          fi

          BRANCH_NAME=$(echo "$BRANCH_NAME" | tr / - | tr '[:upper:]' '[:lower:]')

          RAW=$(uuidgen | tr '[:upper:]' '[:lower:]')
          SHORT=${RAW:0:8}

          if [[ "$BRANCH_NAME" == "main" || "$BRANCH_NAME" == "master" ]]; then
              VERSION="$BASE_VERSION"
          else
              VERSION="${BASE_VERSION}-${BRANCH_NAME}.${SHORT}"
          fi

          echo "PACKAGE_VERSION=$VERSION" >> $GITHUB_ENV
          echo "Using version $VERSION"

      - name: Build & Pack
        run: |
          dotnet build TemplateMongo.Client/TemplateMongo.Client.csproj -c Release

          dotnet pack TemplateMongo.Client/TemplateMongo.Client.csproj \
            -c Release \
            -p:PackageVersion=$PACKAGE_VERSION \
            -p:IncludeBuildOutput=true \
            -o ./nupkgs

      - name: Push to Github Package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
        run: |
          dotnet nuget push ./nupkgs/*.nupkg \
            --source "https://nuget.pkg.github.com/Sundy-Studios/index.json" \
            --api-key "$GITHUB_TOKEN" \
            --skip-duplicate
